# Flutter/Dart
.dart_tool/
.packages
build/

# Android
android/local.properties
android/.gradle/
android/.idea/
android/*.iml
android/gradle-wrapper.jar.sha256
*.apk
*.aab

# IDE
.idea/
*.iml
.vscode/

.DS_Store
